<ChartistChart
  @type='bar'
  @data={{@model.chartData}}
  @responsiveOptions={{this.chartResOptions}}
  data-test-selector='chart'
  data-test-id='bar'
/>

<div class='container' {{did-insert (perform this.loadAsyncData)}}>
  <ChartistChart
    @type='bar'
    @data={{this.deferredComponentData}}
    @ratio='ct-minor-seventh'
    @options={{hash
      showPoint=false
      axisY=(hash offset=0 showLabel=false showGrid=true)
      axisX=(hash showGrid=false)
    }}
    data-test-selector='chart'
    data-test-id='fish'
  >
    <h3>Some extra content in the template if needed.</h3>
  </ChartistChart>
</div>

<ChartistChart
  @type='pie'
  @data={{this.pieData}}
  data-test-selector='chart'
  data-test-id='pie'
/>